.container{
    background-color: aqua;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    height: 50%;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(30, 94, 150);
    padding: 20px;
    display: flex;
    
}

.form{
   
}